.word-definition {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.word-definition.selected {
    background-color: #c5f4f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.word-checkbox {
    margin-right: 10px;
    vertical-align: top;
}

.word-header {
    display: flex;
    align-items: start;
}

.word-title {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
}

.word-definition p {
    margin: 5px 0 0 0;
    font-size: 0.95em;
}

.link-icon {
    margin-left: 8px;
    vertical-align: middle;
}

.loading-spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    animation: spin 1s linear infinite;
    margin-top: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Updated button style */
#submit-sources {
    height: 48px;
    width: 200px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#submit-sources:hover {
    background-color: #2980b9;
}

.text-right {
    text-align: right;
}
